<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <button onclick="get_meet_link(event)">Google Meet Link</button>
    <p style="color:green;font-weight:700" id="google-meet-link"><%= data %></p>

    <script>
        async function get_meet_link(event){
            let ele=document.getElementById("google-meet-link")
            let response=await fetch("/events?front=1")
            response=await response.json()
            if (response.redirect){
                window.location.href="/google"
            }
            else{
                ele.innerHTML=response.data
               
            }
        }
    </script>
    
</body>
</html>
